.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin:15px;
    border-radius: 15px;
}

.red{
    background-color: red;
    color: white;
}

.yellow{
    background-color: yellow;
    color: black;
}

.green{
    background-color: greenyellow;
    color: black;
}

span{
    text-transform: capitalize;
}

.price{
    background-color: royalblue;
    padding: 5px 10px;
    border-radius: 30px;
    color: black
}